@import "tailwindcss";

/* --- FUENTES LOCALES --- */

/* 1. Space Grotesk (Texto) */
@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* 2. Material Symbols (Iconos) */
@font-face {
  font-family: 'Material Symbols Outlined';
  src: url('../fonts/MaterialSymbolsOutlined.ttf') format('truetype');
  font-weight: 100 700; /* Soporta grosores variables */
}

/* --- CONFIGURACIÓN DE TEMA (Tailwind v4) --- */
@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui;
  --color-primary: #facc14;
  --color-background-light: #f8f8f5;
  --color-charcoal: #2D3436;
}

/* --- CLASES DE ICONOS --- */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  -webkit-font-feature-settings: 'liga'; /* Esto hace que "water_drop" sea un icono */
}